<ion-view title="Button Demo">
	<ion-content>
		<ion-list>
			<ion-item class="item-divider">Button Icons</ion-item>
			<ion-item>
				<a class="button icon-left ion-chevron-left button-clear button-dark">Back</a>
			</ion-item>
			<ion-item>
				<a class="button button-icon icon ion-social-facebook"></a>
				<a class="button button-icon icon ion-social-twitter-outline"></a>
				<a class="button button-icon icon ion-social-googleplus"></a>
				<a class="button button-icon icon ion-social-whatsapp-outline"></a>
			</ion-item>
			<ion-item class="item-divider">Clear Button</ion-item>
			<ion-item>
				<button class="button button-clear button-positive">Edit</button>
			</ion-item>
			<ion-item class="item-divider">Variable size button</ion-item>
			<ion-item>
				<button class="button button-small button-assertive">Small Button</button>
				<button class="button button-large button-positive">Large Button</button>
			</ion-item>
			<ion-item class="item-divider">Full width Button</ion-item>
			<ion-item>
				<button class="button button-full button-positive">Full Width Button</button>
			</ion-item>
			<ion-item class="item-divider">Button Bars</ion-item>
			<ion-item>
				<div class="button-bar">
					<a class="button button-balanced">Yes</a>
					<a class="button button-balanced">No</a>
					<a class="button button-balanced">Cancel</a>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>