<ion-view view-title="Ionic JS Components">
  <ion-content>
   <ion-list>
     <a class="item item-icon-right" href="#/tab/refresh">
        ion-refresher
        <i class="icon ion-ios-arrow-right"></i> 
     </a>
     <a class="item item-icon-right" href="#/tab/list">
        ion-list
        <i class="icon ion-ios-arrow-right"></i> 
     </a>
     <a class="item item-icon-right" href="#/tab/header">
        ion-header/footer
        <i class="icon ion-ios-arrow-right"></i> 
     </a>
     <a class="item item-icon-right" href="#/tab/form">
        ion-checkbox/radio/toggle
        <i class="icon ion-ios-arrow-right"></i> 
     </a>
     <a class="item item-icon-right" href="#/tab/slidebox">
        ion-slidebox
        <i class="icon ion-ios-arrow-right"></i> 
     </a>
   </ion-list>
  </ion-content>
</ion-view>
  