<ion-view view-title="Ionic CSS Components">
  <ion-content>
    <ion-list>
      <a class="item item-icon-right" href="#/tab/grid">
        Grid
        <i class="icon ion-ios-arrow-right"></i> 
     </a>
      <a class="item item-icon-right" href="#/tab/forms">
        Form Inputs
        <i class="icon ion-ios-arrow-right"></i> 
     </a>
     <!--<a class="item item-icon-right" href="#/tab/cards">
        Cards
        <i class="icon ion-ios-arrow-right"></i> 
     </a>-->
      <a class="item item-icon-right" href="#/tab/button">
        Buttons
        <i class="icon ion-ios-arrow-right"></i> 
     </a>
    </ion-list>
  </ion-content>
</ion-view>